<div class="col-md-12">
  <div class="group">
    <%= link_to('新增群組', new_group_path, class: 'btn btn-primary pull-right') %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>群組</td>
        <td>群組敘述</td>
        <td>版主大大</td>
      </tr>
    </thead>
    <tbody>
      <% @groups_info.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(group['title'], group_path(group['id'])) %></td>
          <td><%= group['description'] %></td>
          <td><%= group['user']['name'] %></td>
          <td>
            <% if current_user && current_user.id == group['user']['id']%>
              <%= link_to('編輯', edit_group_path(group['id']), class: 'btn btn-sm btn-default') %>
              <%= link_to('刪除', group_path(group['id']), class: 'btn btn-sm btn-default', method: :delete, data: { confirm: '確定要刪除嗎？' }) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
