<div class="form-group col-md-4 col-md-offset-4">
  <h2>新增討論</h2>
  <hr>
  <%= form_for @group do |f| %>
  標題
  <%= f.text_field :title, class:'form-control' %>
  <% @group.errors.full_messages_for(:title).each do |msg| %>
  <li class="alert-danger" ><%= msg %></li>
  <% end %>
  <br>
  敘述
  <br>
  <%= f.text_area :description, class:'form-control' %>
  <% @group.errors.full_messages_for(:description).each do |msg| %>
  <li class="alert-danger" ><%= msg %></li>
  <% end %>
  <br>
  <%= f.submit "確認", :disable_with => 'Submiting...', class:'btn btn-primary' %>
  <% end %>
</div>
