<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div>
      <% if current_user && current_user.admin_of?(@group) %>
        <label class="label label-danger pull-left"> 管理員 </label>
        <%= link_to('修改討論內容', edit_group_path(@group), class: 'btn btn-success pull-right') %>
        <%= link_to('新增討論', new_group_post_path(@group), class: 'btn btn-primary pull-right') %>
        <%= link_to('刪除', group_path(@group), class: 'btn btn-danger pull-right', method: :delete, data: { confirm: '確定要刪除嗎？' }) %>
      <% elsif current_user && current_user.member_of?(@group) %>
        <label class="label label-success pull-left"> 群组成员 </label>
        <%= link_to('我要下車', quit_group_path(@group), method: :post, class:'btn btn-default pull-right') %>
        <%= link_to('新增討論', new_group_post_path(@group), class: 'btn btn-primary pull-right') %>
      <% else %>
        <label class="label label-warning pull-left"> 不是群组成员 </label>
        <%= link_to('我要上車', join_group_path(@group), method: :post, class:'btn btn-default pull-right') %>
      <% end %>
      <br>
      <h3><%= @group.title %></h3>
      <h5>版主大大: <%= @group.user.name %></h5>
      <p><%= simple_format(@group.description, class: 'text-danger') %></p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>討論内容</th>
          <th>發問者</th>
          <th>發表時間</th>
          <th>文章處理</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= simple_format(post.context) %></td>
            <td><%= post.user.name %></td>
            <td><%= post.created_at.strftime('%F %R') %></td>
            <td><%= link_to('編輯', edit_group_post_path(@group, post)) if current_user == post.user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
